<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="form.css">
    <link rel="shortcut icon" href="notepad.png" type="image/x-icon">
</head>

<body>
    <a class="signup_top" href="/signup">Sign up</a>
    <h1>Log in to your Account</h1>

    <div class="form">
        <form action="/login" method="post">
            <p>Username</p>
            <input type="text" name="username" id="username" autofocus required>
            <p>Password</p>
            <input type="password" name="password" id="password" required>

            <input class="login" type="submit" value="Login">
        </form>
        <p class="message"><%= message %></p>
    </div>
</body>

</html>