<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Note</title>
    <link rel="shortcut icon" href="notepad.png" type="image/x-icon">
    <link rel="stylesheet" href="note.css">
</head>
<body>
    <h1>New Note</h1>
    <form action="/newnote" method="post">
        <input type="text" name="title" autofocus required placeholder="Title">
        <textarea name="body" required placeholder="Your Note"></textarea>
        <input type="submit" value="Add Note">
    </form>
</body>
</html>